@model TitlesModel.MovieTitlesPagedModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    //WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    //grid.Bind(Model.MovieTitles, autoSortAndPage: false, rowCount: Model.TotalRows );
}

<div id="dialog-view"></div>

<h2>Movie Titles</h2>

@section scripts
{
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('form').submit(function () {
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            alert('success');
                            $("#movieList").html(data);
                        }
                    });
                }
                return false;
            });

            $(".viewLink").on("click", function (e) {
                var url = $(this).prop('href');
                //var tid = $(this).attr('data-id');
                alert(url);
                $("#dialog-view").dialog({
                    title: 'View Movie Details',
                    autoOpen: false,
                    resizable: false,
                    height: 500,
                    width: 600,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: false,
                    open: function (event, ui) {
                        $(this).load(url);
                    },
                    buttons: {
                        "Close": function () {
                            $(this).dialog('close');
                        }
                    }
                });

                alert('after dialog settings');
                $("#dialog-view").dialog('open');
                alert('after dialog open');

                return false;
            });

            $("#storyDrop").change(function () {
                var self = $(this);
                var storyId = self.val();
                //var form = self.closest.form();
                var urll = "/Title/GetStoryline/" + storyId;
                $.ajax({
                    url: urll,
                    type: 'GET',
                    success: function (data) {
                        if (data.success == true) {
                            $("#storyline").val(data.story);
                        }
                    }
                });
            });
        });
        
    </script>

}



<!--grid.GetHtml(
 fillEmptyRows: false,
 alternatingRowStyle: "alternate-row",
 headerStyle: "grid-header",
 footerStyle: "grid-footer",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] { grid.Column("TitleId", header: "ID", canSort: false),
 grid.Column("TitleName", header: "TitleName", format: $<text>
 $Html.ActionLink((string)item.Name, "View", new { id = item.TitleId }, new { $class = "viewDialog" })</text> ),
 grid.Column("ReleaseDate", header: "Release Date", canSort: true) }
 );
 -->


 @using (Html.BeginForm())
 {
    @Html.Label("Search By Title:")
    @Html.TextBox("searchString", "", new { width = "200px" });
    <input class="button" type="submit" value="Search" />                                                                                                
 }
          
<br />
<div id="movieList">
    @Html.Partial("_TitleSearchPartial", Model.MovieTitles)
</div>



